# Introduction to Python

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="figures/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [2]:
# Numerical example
"""I changed 5 to 10"""
x = 10
print (x)

10

In [3]:
# Text example
"""I changed hello to hey"""
x = "hey"
print (x)

hey

In [4]:
# Variables can be used with each other
"""I changed a from 1 to 3 and b from 2 to 4"""
a = 3
b = 4
c = a + b
print (c)

7

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [5]:
# int variable
"""changed 5 to 7"""
x = 7
print (x)
print (type(x))

# float variable
"""changed 5.0 to 7.0"""
x = 7.0
print (x)
print (type(x))

# text variable
"""changed 5 to 7"""
x = "7" 
print (x)
print (type(x))

# boolean variable
"""changed True to False"""
x = False
print (x)
print (type(x))

7
<class 'int'>
7.0
<class 'float'>
7
<class 'str'>
False
<class 'bool'>

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [6]:
# int variables
"""changed 5 to 9 for a, and 3 to 5 for b"""
a = 9
b = 5
print (a + b)

# string variables
"""changed 5 to 9 for a, and 3 to 5 for b"""
a = "9"
b = "5"
print (a + b)

14
95

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [16]:
# Creating a list
"""changde [3, "hello", 1] to [5, "hey", 10]"""
list_x = [5, "hey", 10]
print (list_x)

[5, 'hey', 10]

In [17]:
# Adding to a list
"""change 7 to 9"""
list_x.append(9)
print (list_x)

[5, 'hey', 10, 9]

In [18]:
# Accessing items at specific location in a list
"""display all the items including the last item just added """
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[3]: ", list_x[3])
print ("list_x[-1]: ", list_x[-1]) # the last item
print ("list_x[-2]: ", list_x[-2]) # the second to last item
print ("list_x[-3]: ", list_x[-3]) # the second to last item
print ("list_x[-4]: ", list_x[-4]) # the second to last item

list_x[0]:  5
list_x[1]:  hey
list_x[2]:  10
list_x[3]:  9
list_x[-1]:  9
list_x[-2]:  10
list_x[-3]:  hey
list_x[-4]:  5

In [19]:
# Slicing
"added two different slicings: 1:2, 2-:-1"
print ("list_x[:]: ", list_x[:])
print ("list_x[2:]: ", list_x[2:])
print ("list_x[1:2]: ", list_x[1:2])  # does not include the item in index 2
print ("list_x[1:3]: ", list_x[1:3])  # does not include the item in index 3
print ("list_x[:-1]: ", list_x[:-1])  # does not include the last item
print ("list_x[-2:-1]: ", list_x[-2:-1]) # does not include the last item

list_x[:]:  [5, 'hey', 10, 9]
list_x[2:]:  [10, 9]
list_x[1:2]:  ['hey']
list_x[1:3]:  ['hey', 10]
list_x[:-1]:  [5, 'hey', 10]
list_x[-2:-1]:  [10]

In [20]:
# Length of a list
"""added another entry 5 in string"""
list_x.append('5')
len(list_x)

5

In [21]:
# Replacing items in a list
"""changed hi to hello"""
list_x[1] = "hello"
print (list_x)

[5, 'hello', 10, 9, '5']

In [22]:
# Combining lists
"""changed list_y from [2.4, "world"] to [4.9, "earth"]"""
list_y = [4.9, "earth"]
list_z = list_x + list_y
print (list_z)

[5, 'hello', 10, 9, '5', 4.9, 'earth']

# Tuples

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [23]:
# Creating a tuple
"""changed (3.0, "hello") to (5.0, "hey")"""
tuple_x = (5.0, "hey")
print (tuple_x)

(5.0, 'hey')

In [24]:
# Adding values to a tuple
"""change (5.6,) to (8.5,)"""
tuple_x = tuple_x + (8.5,)
print (tuple_x)

(5.0, 'hey', 8.5)

In [25]:
# Trying to change a tuples value (you can't, this should produce an error.)
"""changed world to earth"""
tuple_x[1] = "earth"

TypeError: 'tuple' object does not support item assignment

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [26]:
# Creating a dictionary
"""changed {"name": "dog", "eye_color": "brown"} to {"name": "doggie", "eye_color": "brownie"}"""
dog = {"name": "doggie",
        "eye_color": "brownie"}
print (dog)
print (dog["name"])
print (dog["eye_color"])

{'name': 'doggie', 'eye_color': 'brownie'}
doggie
brownie

In [27]:
# Changing the value for a key
"""changed green to black"""
dog["eye_color"] = "black"
print (dog)

{'name': 'doggie', 'eye_color': 'black'}

In [28]:
# Adding new key-value pairs
"""added key-value pair weight = 10 """
dog["weight"] = 10
dog["age"] = 5
print (dog)

{'name': 'doggie', 'eye_color': 'black', 'weight': 10, 'age': 5}

In [29]:
# Length of a dictionary
print (len(dog))

4

# If statements

You can use `if` statements to conditionally do something.

In [30]:
# If statement
"""change x from 4 to 0"""
x = 0
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

low

In [31]:
# If statment with a boolean
"""changed x from True to False and added else statement"""
x = False
if x:
    print ("it worked")
else:
    print ("something wrong.")

something wrong.

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [39]:
# For loop
"""Changed x from 1 to 0, 3 in range() to 5, and 1 in the x += 1 statement to 2,
   and changed the order to display i and x"""
x = 0
for i in range(5): # goes from i=0 to i=4
    x += 2 # same as x = x + 2
    print ("x={1}, i={0}".format(i, x)) # printing with multiple variables

x=2, i=0
x=4, i=1
x=6, i=2
x=8, i=3
x=10, i=4

In [41]:
# Loop through items in a list
"changed x from 1 to 0, the increment in x by 1 to each element i in the list, and add 3 to the list of numbers [0,1,2]"
x = 0
for i in [0, 1, 2, 3]:
    x += i
    print ("i={0}, x={1}".format(i, x))

i=0, x=0
i=1, x=1
i=2, x=3
i=3, x=6

In [42]:
# While loop
"""changed x from 3 to 2, and the while condition from x > 0 to x > 2"""
x = 5
while x > 2:
    x -= 1 # same as x = x - 1
    print (x)

4
3
2

# Functions

Functions are a way to modularize reusable pieces of code.

In [43]:
# Create a function
"""changed increments from 2 to 3, thus renamed the function from add_two to add_three
   changed score from 0 to 10"""
def add_three(x):
    x += 3
    return x

# Use the function
score = 10
score = add_three(x=score)
print (score)

13

In [44]:
# Function with multiple inputs
"""added another input - middle name """
def join_name(first_name, middle_name, last_name):
    joined_name = first_name + " " + middle_name + " " + last_name
    return joined_name

# Use the function
first_name = "John"
middle_name = "A."
last_name = "Doe"
joined_name = join_name(first_name=first_name, middle_name=middle_name, last_name=last_name)
print (joined_name)

John A. Doe

# Classes

Classes are a fundamental piece of object oriented programming in Python.

In [54]:
# Creating the class
"""added gender, weight and age properties, updated function to display for printing, and added functions to update them"""
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name, gender, age, weight):
        self.species = species
        self.gender = gender
        self.color = color
        self.name = name
        self.weight = weight
        self.age = age

    # For printing
    """ Expanded its expression formula"""
    def __str__(self):
        return "{0} {1} {2} named {3} weighed {4} lbs {5} year-old.".format(self.species, self.gender, self.color,
                                                                        self.name, self.weight, self.age)

    # Example function
    def change_name(self, new_name):
        self.name = new_name

    """ added functions """
    def change_age(self, new_age):
        self.age = new_age

    def change_weight(self, new_weight):
        self.weight = new_weight

In [55]:
# Creating an instance of a class
"""Added properties of gender, age and weight"""
my_dog = Pets(species="dog", color="orange", name="Rover", gender="Male", age=2.5, weight=4.5)
print (my_dog)
print (my_dog.name)
print (str(my_dog.weight) + " lbs")

dog Male orange named Rover weighed 4.5 lbs 2.5 year-old.
Rover
4.5 lbs

In [56]:
# Using a class's function
my_dog.change_name(new_name="Sparky")
my_dog.change_age(new_age=3)
my_dog.change_weight(new_weight=6)
print (my_dog)
print (my_dog.name)
"""Added print statements"""
print (my_dog.age)
print (my_dog.weight)

dog Male orange named Sparky weighed 6 lbs 3 year-old.
Sparky
3
6

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python-3)